.col{
    border: solid 1px black;
    text-align: center;
    a{
        text-decoration: none;
    } 
} 

.contenido{
    display: flex;
    justify-content: space-evenly;
    height: 70vh;
    .imgp1{
        width: auto;
        margin: 5%;
    }

    .card{
        width: 30%;
        height: 90%;
    }
}

.combina{
    flex-direction: column;
}