.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;

    a {
        text-decoration: none;
    }
}

.contenido {
    display: flex;
    justify-content: space-evenly;
    height: 70vh;

    .imgp1 {
        width: 50%;
        margin: 5%;
    }

    .card {
        width: 25%;
        text-align: center;
    }
}

.dos{
    height: 50vh; 
}

.combina {
    flex-direction: column;
    align-items: center;
}

#boton {
    width: 10%;
    border-radius: 10px;
    margin-bottom: 2%;
}