.col {
  border: solid 1px black;
  text-align: center;
}
.col a {
  text-decoration: none;
}

.contenido {
  display: flex;
  justify-content: space-evenly;
  height: 70vh;
}
.contenido .imgp1 {
  width: auto;
  padding: 5%;
}
.contenido .card {
  width: 30%;
  height: 90%;
}

.combina {
  flex-direction: column;
}